body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #23252c;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 100%;
}

.content-wrapper{
  background-color: #1a1b21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19.82rem;
}

header .content-wrapper {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

h1 {
  color: #ffffff;
  font-size: 1.56em;
  font-weight: bold;
  margin-top: 30px;
}

h2 {
  color: #f5f5f5;
  font-size: 1em;
  font-weight: bold;
}

h3 {
  color: #f3bf99;
  font-size: .8em;
}

a{ 
  text-decoration: none;
  font-size: .88em;
  color: #f5f5f5;
}
p  {
  font-size: .64em;
  color: #f5f5f5;
}

.button {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
}

.email img {
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.linkedIn img {
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.email {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  background-color: white;
  color: #1e1f26;
  width: 115px;
  height: 34px;
  border-radius: 6px;
}

.email a {
  color: #1e1f26;
}

.linkedIn {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5093e2;
  color: #ffffff;
  width: 115px;
  height: 34px;
  border-radius: 6px;
}
.contact{
  text-decoration: none;
}

.about, .interests{
  padding: 0 30px;
}
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 30px;
}

.footer-icons {
  background-color: #161619;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  
}

.social-icon {
  width: 25px;
  height: 25px;
}

.social-icon img {
  border-radius: 0;
}