body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #23252c;
}

.content-wrapper{
  width: 90%;
  background-color: #1a1b21;
}
img {
  width: 68%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

h1 {
  color: #ffffff;
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  color: #f3bf99;
} 

a {
  color: #f5f5f5;
  text-decoration: none;
}
.contact{
  text-decoration: none;
}

